@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 整体为浅灰背景，白色卡片，深色文字 */
  --background: #f3f4f6; /* page 背景 */
  --foreground: #0f172a; /* 文字主色 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
